/* style.css */
body {
  background-color: #34495e;
  color: #fff;
  font-family: sans-serif;
}

.game {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 90vh;
  position: relative; /* Add position relative to the game container */
}

.character {
  width: 30vmin;
  height: 30vmin;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("https://banner2.cleanpng.com/20200218/ypk/transparent-cartoon-rabbit-rabbits-and-hares-nose-hare-clipart-bunny-tranparent-png-and-other-clipart-pic5e5dabecb32d00.8488713715831971647339.jpg");
  background-size: cover;
}

.carrot {
  width: 20vmin;
  height: 20vmin;
  background-color: orange; /* Set carrot color */
  position: absolute;
  border-radius: 50%;
  top: 0; /* Adjust the top position */
  left: 0;
}

.obstacle {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
}

.carrot {
  background-color: orange; /* Adjusts carrot color */
}

.obstacle {
  background-color: blue; /* Adjusts obstacle color */
}
