* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://t3.ftcdn.net/jpg/06/06/79/70/360_F_606797008_rGPPk6bFWDQydnX7g7w1w9dVVZ4mD22J.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  background-size: cover;

  text-align: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
button {
  width: 200px;
  height: 50px;
  font-size: 1.2em;
}
button:hover {
  background-color: red;
}
